@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Element Styling */
body { 
    font-family: 'Lato', 'Arial', 'Sans-Serif';
<<<<<<< HEAD
    background-color: cyan;
=======
    line-height: 1.5;
    background: cyan;
>>>>>>> 5c7478c67a1e6f00497761f274696b245c44166b
}

/* Utility Classes */
.XL-heading { font-size: 2.5rem; }
.L-heading { font-size: 1.7rem; }

.center { text-align: center; }

/* Section: Main Content */
#main-section {
    display: flex;
    min-height: 100vh;
}

#main-section #sidebar-navigation {
    background: #000;
    height: 100vh;
    overflow-y: auto;
    flex: 1;
    color: #fff;
    padding: 3rem 2rem;
}

<<<<<<< HEAD
#main-section #main-content {
    flex: 5;
    overflow: hidden;
}


.center {
    text-align: center;
    font-size: xxx-large;
}

=======
#main-section #sidebar-navigation h1 { margin-bottom: 4rem; }

#main-section #main-content { flex: 5; }
>>>>>>> 5c7478c67a1e6f00497761f274696b245c44166b
