@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Variables */
:root {
    --primary-color: #75ca9b;
    --secondary-color: #ee75a4;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Element Styling */
body { 
    font-family: 'Lato', 'Arial', 'Sans-Serif';
    line-height: 1.5;
    background: #f4f4f4;
}

ul { list-style: none; }

a {
    text-decoration: none;
    color: #f4f4f4;
    transition: all 0.5s ease;
}

/* Utility Classes */
.XL-heading { font-size: 2.5rem; }
.L-heading { font-size: 1.7rem; }

.center { text-align: center; }

/* Section: Main Content */
#main-section {
    display: flex;
    min-height: 100vh;
}

#main-section #sidebar-navigation {
    background: #000;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
    color: #fff;
    padding: 2rem 1.5rem;
}

/* Sidebar Links */
.links-list li a {
    font-size: 1.3rem;
    position: relative;
}

.links-list li { margin: .75rem 0; }

.links-list li a:hover { color: var(--primary-color); }

.links-list li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--secondary-color);
    bottom: -5px;
    left: 50%;
    transition: all 0.3s ease;
}

.links-list li a:hover::after {
    left: 0;
    width: 100%;
}

.links-list li a.current { color: var(--secondary-color); }

#main-section #sidebar-navigation h1 { margin-bottom: 4rem; }

#main-section #main-content { flex: 5; }
